name: Ashte Mobile Fix Final
on:
  workflow_dispatch:
    inputs:
      ipa_links:
        description: 'لینکی ئەپەکە لێرە دابنێ'
        required: true

jobs:
  sign:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install ZSign Tool
        run: |
          # لە جیاتی ئەوەی دروستی بکەین، دانەیەکی ئامادەکراو دادەگرین
          wget https://github.com/zhlynn/zsign/releases/download/v1.1.2/zsign-linux-x86_64.tar.gz
          tar -xvf zsign-linux-x86_64.tar.gz
          sudo mv zsign /usr/local/bin/
          chmod +x /usr/local/bin/zsign

      - name: Sign App
        run: |
          mkdir -p signed_output
          # داگرتنی ئەپەکە
          curl -L "${{ github.event.inputs.ipa_links }}" -o my_app.ipa
          
          # واژۆکردن بە پاسۆردی 1 و ئەو فایلانەی لە پڕۆژەکەتدا هەن
          zsign -k cert.p12 -p "1" -m dev.mobileprovision -o "signed_output/Ashte_Signed.ipa" my_app.ipa

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }}
          name: "Ashte-App-${{ github.run_number }}"
          files: signed_output/*.ipa
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
