name: Ashte Final Fix No Error
on:
  workflow_dispatch:
    inputs:
      ipa_links:
        description: 'Direct IPA Link'
        required: true

jobs:
  sign:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install ZSign
        run: |
          # داگرتنی بەرنامەکە بە ئامادەکراوی بۆ ئەوەی چیتر هەڵەی cpp نەبینین
          wget https://github.com/zhlynn/zsign/releases/download/v1.1.2/zsign-linux-x86_64.tar.gz
          tar -xvf zsign-linux-x86_64.tar.gz
          sudo mv zsign /usr/local/bin/

      - name: Sign App
        run: |
          mkdir -p signed_output
          curl -L "${{ github.event.inputs.ipa_links }}" -o app.ipa
          
          # دۆزینەوەی فایلەکان لە هەر شوێنێک بن (تەنانەت ناو فۆڵدەریش)
          P12=$(find . -name "*.p12" | head -n 1)
          PROV=$(find . -name "*.mobileprovision" | head -n 1)
          
          if [ -z "$P12" ]; then echo "Error: P12 file not found!"; exit 1; fi
          if [ -z "$PROV" ]; then echo "Error: Provision file not found!"; exit 1; fi
          
          echo "Found Certificate: $P12"
          echo "Found Provision: $PROV"
          
          # واژۆکردن بە پاسۆردی 1
          zsign -k "$P12" -p "1" -m "$PROV" -o "signed_output/Ashte_Signed.ipa" app.ipa

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }}
          name: "Ashte-App-${{ github.run_number }}"
          files: signed_output/*.ipa
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
