name: Public iOS Signer Tool
on:
  workflow_dispatch:
    inputs:
      ipa_url:
        description: 'رابط ملف الـ IPA (Direct Link)'
        required: true
      p12_base64:
        description: 'كود الـ P12 (Base64)'
        required: true
      p12_password:
        description: 'كلمة سر الشهادة'
        required: true
      provision_base64:
        description: 'كود الـ Provisioning (Base64)'
        required: true

jobs:
  sign:
    runs-on: ubuntu-latest
    steps:
      - name: Setup ZSign
        run: |
          git clone https://github.com/zhlynn/zsign.git
          cd zsign && g++ *.cpp -lcrypto -O3 -o zsign
          sudo cp zsign /usr/local/bin/

      - name: Prepare Files
        run: |
          curl -L "${{ github.event.inputs.ipa_url }}" -o app.ipa
          echo "${{ github.event.inputs.p12_base64 }}" | base64 -d > cert.p12
          echo "${{ github.event.inputs.provision_base64 }}" | base64 -d > dev.mobileprovision

      - name: Sign IPA
        run: |
          zsign -k cert.p12 -p ${{ github.event.inputs.p12_password }} -m dev.mobileprovision -o signed_app.ipa app.ipa

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Signed-By-Public-Tool
          path: signed_app.ipa
